<h1>{{title}}</h1>
<button type="button" (click)="doTheThing()">Display Devices Sensors</button>

<table>
    <tr>
    <th>Device ID</th>
    <th>Temperature</th>
    <th>TimeStamp</th>
    </tr>
    <tr>
        <th>{{sorted_response[0].deviceId}}</th>
        <th>{{sorted_response[0].temperature}}</th>
        <th>{{sorted_response[0].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[1].deviceId}}</th>
        <th>{{sorted_response[1].temperature}}</th>
        <th>{{sorted_response[1].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[2].deviceId}}</th>
        <th>{{sorted_response[2].temperature}}</th>
        <th>{{sorted_response[2].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[3].deviceId}}</th>
        <th>{{sorted_response[3].temperature}}</th>
        <th>{{sorted_response[3].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[4].deviceId}}</th>
        <th>{{sorted_response[4].temperature}}</th>
        <th>{{sorted_response[4].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[5].deviceId}}</th>
        <th>{{sorted_response[5].temperature}}</th>
        <th>{{sorted_response[5].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[6].deviceId}}</th>
        <th>{{sorted_response[6].temperature}}</th>
        <th>{{sorted_response[6].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[7].deviceId}}</th>
        <th>{{sorted_response[7].temperature}}</th>
        <th>{{sorted_response[7].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[8].deviceId}}</th>
        <th>{{sorted_response[8].temperature}}</th>
        <th>{{sorted_response[8].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[9].deviceId}}</th>
        <th>{{sorted_response[9].temperature}}</th>
        <th>{{sorted_response[9].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[10].deviceId}}</th>
        <th>{{sorted_response[10].temperature}}</th>
        <th>{{sorted_response[10].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[11].deviceId}}</th>
        <th>{{sorted_response[11].temperature}}</th>
        <th>{{sorted_response[11].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[12].deviceId}}</th>
        <th>{{sorted_response[12].temperature}}</th>
        <th>{{sorted_response[12].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[13].deviceId}}</th>
        <th>{{sorted_response[13].temperature}}</th>
        <th>{{sorted_response[13].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[14].deviceId}}</th>
        <th>{{sorted_response[14].temperature}}</th>
        <th>{{sorted_response[14].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[15].deviceId}}</th>
        <th>{{sorted_response[15].temperature}}</th>
        <th>{{sorted_response[15].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[16].deviceId}}</th>
        <th>{{sorted_response[16].temperature}}</th>
        <th>{{sorted_response[16].timestamp}}</th>
    </tr>
    <tr>
        <th>{{sorted_response[17].deviceId}}</th>
        <th>{{sorted_response[17].temperature}}</th>
        <th>{{sorted_response[17].timestamp}}</th>
    </tr>
</table>